<suite name="Suite" parallel="tests" thread-count="2">

    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>

</suite>